.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    padding: 0 24px 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .intro {
   min-width: 288px;
   padding: 0 16px 64px;

  }
}

