.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px 24px;
  color:#FFFFFF;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding: 0 24px 24px;
  }
}

@media screen and  (max-width: 767px) {
  .footer {
    max-width: 186px;
    margin: 0;
    padding: 0 16px 24px;
    flex-direction: column;
  }
}
